
<html>
<head>
	<title>เน€เธงเนเธเธฃเธงเธกเน€เธเธฅเธเธเธฃเธฐเธฃเธฒเธเธเธดเธเธเธเน</title>
</head>
<div align="right">
***เนเธงเนเธเธงเธฒเธชเธธเธ”เน€เธ—เนเธฒเธเธฑเนเธ***<BR/>
<a href="home">home</a>
<a href="kingsong1">kingsong1</a>
<a href="kingsong2">kingsong2</a>
<a href="kingsong3">kingsong3</a>
</div>
<center>
	<h1>เน€เธงเนเธเธฃเธงเธกเน€เธเธฅเธเธเธฃเธฐเธฃเธฒเธเธเธดเธเธเธเน</h1>
</center>	



<center><a href="http://music.sanook.com/2382253/">เธฃเธงเธกเน€เธเธฅเธเธเธฃเธฐเธฃเธฒเธเธเธดเธเธเธเน</a></center>
	

</html>