<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>เว็บรวมเพลงพระราชนิพนธ์</title>
</head>
<style type="text/css">
	body {
 background-image: url(http://m.armmytonlom.myreadyweb.com//storage/18/88270/images/web/web_88270_796165345.jpg);
 background-size: cover;
 background-attachment: fixed;
}

</style>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="font-size: 20px;">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="home">เว็บรวมเพลงพระราชนิพนธ์</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                <ul class="nav navbar-nav navbar-right" >
                    <li >
                        <a href="home">หน้าแรก</a>
                    </li>
                    <li >
                        <a href="kingsong1">ดวงใจกับความรัก</a>
                    </li>
                    <li >
                        <a href="kingsong2">สายฝน</a>
                    </li>
                    <li >
                        <a href="kingsong3">พรปีใหม่</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


        <div class="row" style="margin-top: 80px;">
            <div class="col-lg-12">
                <p class="page-header" align="center" style="color: white; font-size: 50px;">พระบรมราโชวาท</p>
            </div>
            <div  align="center" style="color: white; font-size: 20px;">
                <p>“การใช้จ่ายอย่างประหยัดนั้น จะเป็นหลักประกันความสมบูรณ์พูนสุขของผู้ประหยัดเอง</p>
				<p>	และครอบครัวช่วยป้องกันความขาดแคลนในวันข้างหน้า การประหยัดดังกล่าวนี้จะมีผลดีไม่เฉพาะแก่ผู้ที่ประหยัดเท่านั้น</p> 
				<p>	ยังเป็นประโยชน์แก่ประเทศชาติด้วย”</p>
				<p>	พระราชดำรัสของพระบาทสมเด็จพระเจ้าอยู่หัว เนื่องในวันขึ้นปีใหม่ ๓๑ ธันวาคม ๒๕๐๒</p>
				<img class="img-responsive" src="http://img.tsood.com/large/tnews_1476669144_4831.jpg" alt="" style="width: 700px;height: 500px;">
     
            </div>
            
        </div>

</body>
</html>
