<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>เว็บรวมเพลงพระราชนิพนธ์</title>
</head>
<style type="text/css">
	body {
 background: gray;
}

</style>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="font-size: 20px;">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="home">เว็บรวมเพลงพระราชนิพนธ์</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                <ul class="nav navbar-nav navbar-right" >
                    <li >
                        <a href="home">หน้าแรก</a>
                    </li>
                    <li >
                        <a href="kingsong1">ดวงใจกับความรัก</a>
                    </li>
                    <li >
                        <a href="kingsong2">สายฝน</a>
                    </li>
                    <li >
                        <a href="kingsong3">พรปีใหม่</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


        <div class="row" style="margin-top: 80px;">
            <div class="col-lg-12">
                <p class="page-header" align="center" style="color: white; font-size: 50px;">พรปีใหม่</p>
            </div>
            <div class="col-md-6" align="center" style="color: white; font-size: 18px;">
                <p>สวัสดีวันปีใหม่พา</p>
				<p>ให้บรรดาเราท่านรื่นรมย์</p>
				<p>ฤกษ์ยามดีเปรมปรีดิ์ชื่นชม</p>
				<p>ต่างสุขสมนิยมยินดี</p>
				<p>ข้าวิงวอนขอพรจากฟ้า</p>
				<p>ให้บรรดาปวงท่านสุขศรี</p>
				<p>โปรดประทานพรโดยปรานี</p>
				<p>ให้ชาวไทยล้วนมีโชคชัย</p>
				<p>ให้บรรดาปวงท่านสุขสันต์</p>
				<p>ทุกวันทุกคืนชื่นชมให้สมฤทัย</p>
				<p>ให้รุ่งเรืองในวันปีใหม่</p>
				<p>ผองชาวไทยจงสวัสดี</p>
				<p>ตลอดปีจงมีสุขใจ</p>
				<p>ตลอดไปนับแต่บัดนี้</p>
				<p>ให้สิ้นทุกข์สุขเกษมเปรมปรีดิ์</p>
				<p>สวัสดีวันปีใหม่เทอญ</p>
     
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://www.posttoday.com/media/content/2016/10/16/D9B32B57AD324B7F8F263C4F0203EE5A.jpg" alt="" style="width: 500px;height: 650px;">
            </div>
        </div>

</body>
</html>
