<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>เว็บรวมเพลงพระราชนิพนธ์</title>
</head>
<style type="text/css">
	body {
 background: gray;
}

</style>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="font-size: 20px;">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="home">เว็บรวมเพลงพระราชนิพนธ์</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                <ul class="nav navbar-nav navbar-right" >
                    <li >
                        <a href="home">หน้าแรก</a>
                    </li>
                    <li >
                        <a href="kingsong1">ดวงใจกับความรัก</a>
                    </li>
                    <li >
                        <a href="kingsong2">สายฝน</a>
                    </li>
                    <li >
                        <a href="kingsong3">พรปีใหม่</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


        <div class="row" style="margin-top: 80px;">
            <div class="col-lg-12">
                <p class="page-header" align="center" style="color: white; font-size: 50px;">สายฝน</p>
            </div>
            <div class="col-md-6" align="center" style="color: white; font-size: 18px;">
                <p>เมื่อลมฝนบนฟ้ามาลิ่ว</p>
                <p>ต้นไม้พลิ้วลู่กิ่งใบ</p>
                <p>เหมือนจะเอนรากคลอนถอนไป</p>
                <p>แต่เหล่าไม้ยิ่งกลับงาม</p>
                <p>พระพรหมท่านบันดาลให้ฝนหลั่ง </p>
                <p>เพื่อประทังชีวิตมิทราม</p>
                <p>น้ำทิพย์สาดเป็นสายพรายพลิ้วทิวงาม</p>
                <p>ทั่วเขตคามชุ่มธารา</p>
                <p>สาดเป็นสายพรายพลิ้วทิวทุ่ง  </p>
                <p>แดดทอหรุ้งอร่ามตา</p>
                <p>รุ้งเลื่อมลายพร่างพรายนภา</p>
                <p>ยามเมื่อฝนมาแต่ไกล</p>
                <p>พระพรหมช่วยอำนวยให้ชื่นฉ่ำ</p>
                <p>เพื่อจะนำดับความร้อนใจ</p>
                <p>น้ำฝนหลั่งลงมาจากฟ้าแดนไกล </p> 
                <p>พืชพรรณไม้ชื่นยืนยง</p>
                     
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://www.photoontour8.com/king_photo/data_king_family/king/6/6.38.jpg" alt="" style="width: 500px;height: 450px;">
            </div>
        </div>

</body>
</html>
