<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>เว็บรวมเพลงพระราชนิพนธ์</title>
</head>
<style type="text/css">
	body {
 background: gray;
}

</style>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="font-size: 20px;">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="home">เว็บรวมเพลงพระราชนิพนธ์</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                <ul class="nav navbar-nav navbar-right" >
                    <li >
                        <a href="home">หน้าแรก</a>
                    </li>
                    <li >
                        <a href="kingsong1">ดวงใจกับความรัก</a>
                    </li>
                    <li >
                        <a href="kingsong2">สายฝน</a>
                    </li>
                    <li >
                        <a href="kingsong3">พรปีใหม่</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


        <div class="row" style="margin-top: 80px;">
            <div class="col-lg-12">
                <p class="page-header" align="center" style="color: white; font-size: 50px;">ดวงใจกับความรัก</p>
            </div>
            <div class="col-md-6" align="center" style="color: white; font-size: 18px;">
                <p>ค่ำคืนนภาดาราพราว  ประกายแสงดาวพราวตา</p>
                <p>ดาษเรียงเคียงแสงดวงจันทรา  เพลินชมแสงพรายนภาเห็นดวงดาราล้อมจันทร์</p>
                <p>ที่จริงนั้นเดือนและดวงดาว  ต่างเรืองแสงวาวพราวพรรณ</p>
                <p>ด้วยแรงจากแสงดวงตะวัน  จึงมีแสงเดือนงามครันแสงดาวประชันน่าชม</p>
                <p>เปรียบดวงดาวและดวงเดือน  ก็เหมือนแม้แววมโนรมย์</p>
                <p>เปล่งแววไปเปลี่ยนใจชม  ด้วยจินตนาอารมณ์นานาประการ</p>
                <p>แน่นอนแท้จริงคือดวงใจ   ส่องแววรักไปยืนนาน</p>
                <p>เปรียบดังกับแสงตะวันตระการ  ยังคงแสงงามสะคราญแสงทองยืนนานเรื่อยมา</p>
                <p>ตะวันฉายมาดาราราย  ส่องแสงพริ้มพรายนัยน์ตา</p>
                <p>รื่นรมย์ชมแสงดวงจันทรา  ชมดาวล้อมเดือนงามตาพริ้มพรายนภาแสงงาม</p>
                <p>มาตรแม้นสูญดวงตะวันไป  ประดาแสงในฟ้าทราม</p>
                <p>ผู้คนสัตว์ไม้จะตายตาม  ตะวันสูญไปเป็นยามล้วนมีแต่ความมืดมน</p>
                <p>เปรียบดวงดาวและดวงเดือน  ก็เหมือนแม้นแววมโนรมย์</p>
                <p>เปล่งแววไปต่างใจคน  เปลี่ยนแปลงไปตามใจตนเวียนวนจนตาย</p>
                <p>ตะวันนั้นเหมือนดังดวงใจ  หากสิ้นแสงไปรักคลาย </p>
                <p>ขาดความรักเหมือนชีวาวาย  จะเป็นหรือตายทั้งใจและกายไม่วายโศรกโทรม</p>
     
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://www.photoontour8.com/king_photo/data_king_family/king/6/6.43.jpg" alt="" style="width: 700px;height: 500px;">
            </div>
        </div>

</body>
</html>
